{namespace nz=CuyZ\Notiz\ViewHelpers}
{namespace b = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="HeaderButtons">
    <f:render partial="Backend/Index/HeaderButtons" section="Buttons" arguments="{_all}" />
</f:section>

<f:section name="Content">
    <div class="container">
        <div class="page-header">
            <h2>Notifications</h2>
        </div>

        <div class="row">
            <f:if condition="{definition.notifications}">
                <f:for each="{definition.notifications}" as="notification">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title text-center">
                                    <core:icon identifier="{notification.iconIdentifier}" size="default" />
                                    {notification.label}
                                </h2>
                            </div>
                            <div class="panel-body">
                                <p>Bacon ipsum dolor amet prosciutto pork loin jowl ribeye, burgdoggen swine filet mignon. Pork belly shank ham hock corned beef frankfurter.</p>

                                <p>Prosciutto boudin pork chop filet mignon, sausage pork belly kielbasa meatball capicola short ribs rump chuck shoulder. Pork belly prosciutto kielbasa landjaeger hamburger tongue drumstick.</p>
                            </div>
                            <div class="panel-footer text-center">
                                <f:link.action action="test" class="btn btn-default">
                                    <core:icon identifier="actions-system-list-open" />
                                    Show {notification.processor.totalNumber} notifications
                                </f:link.action>
                            </div>
                        </div>
                    </div>
                </f:for>
            </f:if>
        </div>

        <div class="page-header">
            <h2>Events</h2>
        </div>

        <ul class="list-unstyled">
            <f:for each="{definition.eventGroups}" as="eventGroup">
                <li>
                    {eventGroup.label}

                    <ul>
                        <f:for each="{eventGroup.events}" as="event">
                            <li class="{f:if(condition: event.notificationNumber, else: 'text-muted')}">
                                <f:link.action action="test"><core:icon identifier="actions-add" /></f:link.action>

                                <f:if condition="{event.notificationNumber}">
                                    <f:then>
                                        <f:link.action action="test">
                                            {event.label}&nbsp;({event.notificationNumber})
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        {event.label}
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>

        <div class="page-header">
            <h1>Test</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="32"></th>
                        <th width="32">#</th>
                        <th>Title</th>
                        <th>Event</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <f:for each="{definition.notifications.entityEmail.processor.allNotifications}" as="email">
                        <tr id="{email.tableName}-{email.uid}">
                            <td>
                                <b:avatar backendUser="{user.uid}" />
                            </td>
                            <td>
                                <strong>{email.uid}</strong>
                            </td>
                            <td>{email.title}</td>
                            <td>{email.eventDefinition.label} ({email.eventDefinition.group.label})</td>
                            <td align="right">
                                <div class="btn-group" role="group">
                                    <a href="{email.editUri}" class="btn btn-default">
                                        <core:icon identifier="actions-open" />
                                    </a>
                                    <f:link.action action="test" class="btn btn-default">
                                        <core:icon identifier="actions-view" />
                                    </f:link.action>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </table>



                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Collapsible Group Item #1
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible Group Item #2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-header">
            <h1>
                <f:variable name="emailDefinition" value="{definition.notifications.entityEmail}" />
                <core:icon identifier="{emailDefinition.iconIdentifier}" size="default" />
                {myEmail.title}
                <small title="LLL:uid">({myEmail.uid})</small>
            </h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>

            <table class="table">
                <tr>
                    <td>Event</td>
                    <td>{myEmail.eventDefinition.label} ({myEmail.eventDefinition.group.label})</td>
                </tr>
                <tr>
                    <td>Recipients (To)</td>
                    <td>{myEmail.sendTo}</td>
                </tr>
                <tr>
                    <td>Recipients (To)</td>
                    <td>{myEmail.sendToProvided}</td>
                </tr>
            </table>

            <ul class="list-group">
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</f:section>
