{namespace nz=CuyZ\Notiz\ViewHelpers}
{namespace b = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="HeaderButtons">
    <f:render partial="Backend/Index/HeaderButtons" section="Buttons" arguments="{_all}" />
</f:section>

<f:section name="Content">
    <div class="container">
        <div class="page-header">
            <h1>
                <nz:t key="Backend/Module/Index/ListNotificationTypes:module.title" />
            </h1>
        </div>

        <div class="row">
            <f:if condition="{definition.notifications}">
                <f:for each="{definition.notifications}" as="notification">
                    <f:render section="Notification" arguments="{notification: notification}" />
                </f:for>
            </f:if>
        </div>
    </div>
</f:section>

<f:section name="Notification">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">
                    <f:link.action action="listNotifications"
                                   title="{nz:t(key: 'Backend/Module/Index/ListNotificationTypes:show_notifications', args: {0: notification.processor.totalNumber})}"
                                   arguments="{notificationIdentifier: notification.identifier}">
                        <core:icon identifier="{notification.iconIdentifier}" size="default" />
                        {notification.label}
                    </f:link.action>
                </h2>
            </div>

            <div class="panel-body">
                <p>Bacon ipsum dolor amet prosciutto pork loin jowl ribeye, burgdoggen swine filet mignon. Pork belly shank ham hock corned beef frankfurter.</p>

                <p>Prosciutto boudin pork chop filet mignon, sausage pork belly kielbasa meatball capicola short ribs rump chuck shoulder. Pork belly prosciutto kielbasa landjaeger hamburger tongue drumstick.</p>
            </div>

            <div class="panel-footer text-center">
                <f:alias map="{label: '{nz:t(key: \'Backend/Module/Index/ListNotificationTypes:show_notifications\', args: {0: notification.processor.totalNumber})}'}">
                    <f:link.action action="listNotifications"
                                   class="btn btn-default"
                                   title="{label}"
                                   arguments="{notificationIdentifier: notification.identifier}">
                        <core:icon identifier="actions-system-list-open" />
                        {label}
                    </f:link.action>
                </f:alias>
            </div>
        </div>
    </div>
</f:section>
