{namespace nz=CuyZ\Notiz\ViewHelpers}
{namespace b = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="HeaderButtons">
    <f:render partial="Backend/Index/HeaderButtons" section="Buttons" arguments="{_all}" />
</f:section>

<f:section name="Content">
    <div class="container">
        <div class="page-header">
            <h1>
                <nz:t key="Backend/Module/Index/ListNotificationTypes:module.title" />
            </h1>
        </div>

        <f:be.infobox>
            <p>
                <nz:t key="Backend/Module/Index/ListNotificationTypes:intro.1" />
            </p>
            <p>
                <nz:t key="Backend/Module/Index/ListNotificationTypes:intro.2" />
            </p>
        </f:be.infobox>

        <div class="row">
            <f:if condition="{definition.notifications}">
                <f:for each="{definition.notifications}" as="notification">
                    <f:render section="Notification" arguments="{notification: notification}" />
                </f:for>
            </f:if>
        </div>
    </div>
</f:section>

<f:section name="Notification">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">
                    <f:link.action action="listNotifications"
                                   title="{nz:t(key: 'Backend/Module/Index/ListNotificationTypes:show_notifications', args: {0: notification.processor.totalNumber})}"
                                   arguments="{notificationIdentifier: notification.identifier}">
                        <core:icon identifier="{notification.iconIdentifier}" size="default" />
                        {notification.label}
                    </f:link.action>
                </h2>
            </div>

            <div class="panel-body">
                <p>
                    <f:if condition="{notification.description}">
                        <f:then>
                            <f:format.nl2br>{notification.description}</f:format.nl2br>
                        </f:then>
                        <f:else>
                            <em>
                                <nz:t key="Backend/Module/Index/ListNotificationTypes:notification.no_description" />
                            </em>
                        </f:else>
                    </f:if>
                </p>
            </div>

            <div class="panel-footer text-center">
                <f:alias map="{label: '{nz:t(key: \'Backend/Module/Index/ListNotificationTypes:show_notifications\', args: {0: notification.processor.totalNumber})}'}">
                    <a href="{notification.createUri}"
                       class="btn btn-default"
                       title="{nz:t(key: 'Backend/Module/Index/ListNotificationTypes:create_notification')}">
                        <core:icon identifier="actions-add" />
                        <nz:t key="Backend/Module/Index/ListNotificationTypes:create_notification" />
                    </a>

                    <f:if condition="{notification.processor.totalNumber}">
                        <f:link.action action="listNotifications"
                                       class="btn btn-default"
                                       title="{label}"
                                       arguments="{notificationIdentifier: notification.identifier}">
                            <core:icon identifier="actions-system-list-open" />
                            {label}
                        </f:link.action>
                    </f:if>
                </f:alias>
            </div>
        </div>
    </div>
</f:section>
