{namespace nz=CuyZ\Notiz\ViewHelpers}
{namespace b = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="HeaderButtons">
    <f:render partial="Backend/Index/HeaderButtons" section="Buttons" arguments="{_all}" />
</f:section>

<f:section name="Content">
    <f:render partial="Backend/Index/CreateNotificationModal"
              section="Content"
              arguments="{definition: definition}" />

    <div class="container">
        <div class="page-header">
            <h1>Available events</h1>
        </div>

        <f:be.infobox>
            <nz:format.nl2brTrim>
                <nz:t key="Backend/Module/Index/ListEvents:introduction" />
            </nz:format.nl2brTrim>
        </f:be.infobox>

        <ul class="list-unstyled">
            <f:for each="{definition.eventGroups}" as="eventGroup">
                <li>
                    {eventGroup.label}

                    <ul>
                        <f:for each="{eventGroup.events}" as="event">
                            <li class="{f:if(condition: event.notificationNumber, else: 'text-muted')}">
                                <f:spaceless>
                                    <a href="#"
                                       title="{nz:t(key: 'Backend/Module/Index/Global:create_notification')}"
                                       class="link-create-notification"
                                       data-toggle="modal"
                                       data-target="#create-notification"
                                       data-event-identifier="{event.fullIdentifier}">

                                        <core:icon identifier="actions-add" />
                                    </a>
                                </f:spaceless>

                                <f:if condition="{event.notificationNumber}">
                                    <f:then>
                                        <f:link.action action="showEvent"
                                                       arguments="{eventIdentifier: event.fullIdentifier}"
                                                       title="{nz:t(key: 'Backend/Module/Index/ListEvents:show_event_details')}">

                                            {event.label}&nbsp;({event.notificationNumber})
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        {event.label}
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>
    </div>
</f:section>
