{namespace nz=CuyZ\Notiz\ViewHelpers}
{namespace b = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="HeaderButtons">
    <f:render partial="Backend/Index/HeaderButtons" section="Buttons" arguments="{_all}" />
</f:section>

<f:section name="Content">
    <div class="container">
        <div class="page-header">
            <h1>
                <core:icon identifier="{notificationDefinition.iconIdentifier}" size="default" />
                {notification.title}
                <small title="LLL:uid">({notification.uid})</small>

                <a href="{notification.editUri}"
                   title="{nz:t(key: 'Backend/Module/Index/ListNotifications:action.edit', args: {0: notification.title})}">
                    <core:icon identifier="actions-open" />
                </a>
            </h1>
        </div>

        <p>
            <f:link.action action="listNotifications"
                           class="btn btn-default"
                           arguments="{notificationIdentifier: notificationDefinition.identifier}">
                <core:icon identifier="actions-view-go-back" />
                Go back to list view
            </f:link.action>
        </p>

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>

            <table class="table">
                <tr>
                    <td>Event</td>
                    <td>
                        <f:link.action action="showEvent"
                                       arguments="{eventIdentifier: notification.eventDefinition.fullIdentifier}">
                            {notification.eventDefinition.label} ({notification.eventDefinition.group.label})
                        </f:link.action>
                    </td>
                </tr>
                <tr>
                    <td>Recipients (To)</td>
                    <td>{notification.sendTo}</td>
                </tr>
                <tr>
                    <td>Recipients (To)</td>
                    <td>{notification.sendToProvided}</td>
                </tr>
            </table>

            <ul class="list-group">
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>







        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>
