.notiz-definition-entry input[type="checkbox"] {
    display: none;
}
.notiz-definition-entry label:hover {
    cursor: pointer;
}
.notiz-definition-entry input[type="checkbox"]:not(:checked) + .notiz-definition-entry-value {
    display: none;
}

.root-definition {
    font-size: 16px;
    line-height: 1.5;
}

.list-tree.text-monospace {
    margin-top: -20px;
}

.list-tree > li {
    margin-top: 2rem;
}
.list-tree > li > ul >li {
    margin-top: 1rem;
}

.list-tree li {
    min-height: 32px;
}
.list-tree li:before {
    top: 14px !important;
}
